<aside class="aside center">
	<section class="aside__search center">
		<form action="" class="form center">
			<label for="search" class="form__label">¿Qué te apetece ver hoy?</label>
			<div class="form__searchBox">
				<i class="fa fa-search form__searchBox--icon" aria-hidden="true"></i>
				<input
					id="search"
					type="text"
					class="js-searchTextArea form__searchBox--textArea"
					title="Escribe aquí tu término de búsqueda"
					placeholder="Escribe aquí..."
					value=""
					required
				/>
			</div>
			<p class="js-searchWarning aside__search--warning hidden">
				Debes introducir una palabra para poder realizar la búsqueda
			</p>
			<input
				type="button"
				class="js-searchBtn form__btn"
				value="Buscar"
				title="Clica aquí para buscar"
			/>
			<input
				type="reset"
				class="js-searchReset form__reset hidden"
				value="Borrar"
				title="Clica aquí para borrar tu búsqueda"
			/>
		</form>
	</section>
	<section class="aside__favList center">
		<div class="js-favHeader aside__favList--header">
			<h2 class="aside__favList--title">Lista de favoritos</h2>
			<i
				class="fa fa-chevron-circle-down aside__favList--arrow"
				aria-hidden="true"
			></i>
		</div>

		<ul class="js-favList favList collapse">
			<!-- Elemento FAV para uso en JS -->
			<!-- 			<div class="aside__favList--advice">
				<p>Tu lista de favoritos está vacía.</p>
				<p>Realiza una búsqueda e incluye aquí tu selección.</p>
			</div>
			<li class="js-favItem favList__favItem center" data-id="xxx">
				<h3 class="js-favItemTitle favList__favItem--title"></h3>
				<img
					class="js-favItemImg favList__favItem--img"
					src=""
					alt=""
					title=""
				/>
				<button class="js-btnQuit favList__favItem--btnQuit">x</button>
			</li> -->
			<!-- fin elemento FAV -->
		</ul>
	</section>
</aside>
