<main class="js-searchMain listContainer main hide">
	<div class="searchList__header">
		<h2 class="searchList__title">Tu búsqueda</h2>

	</div>
	<ul class="js-searchList searchList center">
		<!-- Elemento SEARCH para uso en JS -->
		<!--     <li class="js-searchItem searchList__searchItem">
			<h3 class="js-searchItemTitle searchList__searchItem--title"></h3>
			<img
				class="js-searchItemImg searchList__searchItem--img"
				src=""
				alt=""
				title=""
			/>
		</li> -->
		<!-- fin elemento SEARCH -->
	</ul>
</main>
