<main class="main">
	<div class="js-searchHeader searchList__header hidden">
		<h2 class="searchList__title">Tu búsqueda</h2>
		<i class="fa fa-search searchList__icon" aria-hidden="true"></i>
	</div>
	<ul class="js-searchList searchList center">
		<!-- Elemento SEARCH para uso en JS -->
		<!--     <li class="js-searchItem searchList__searchItem">
			<h3 class="js-searchItemTitle searchList__searchItem--title"></h3>
			<img
				class="js-searchItemImg searchList__searchItem--img"
				src=""
				alt=""
				title=""
			/>
		</li> -->
		<!-- fin elemento SEARCH -->
	</ul>
</main>
