// fonts
$font-main: "Roboto", sans-serif;
$font-second: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// colors
$color-main: #de4242;
$color-second: #ff9280;
$color-bg: #eaedf1;
$color-bg-2: #d5dbe2;
$color-bg-3: #c9d0d8;
$color-font: #282d4f;