.body {
  background-color: $color-bg;
  font-family: $font-main;
  color: $color-font;
}

.hidden {
  display: none;
}

.center {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.listContainer {
  width: 95vw;
  margin-top: 15px;
  background-color: $color-bg-2;
  border-radius: 6px;
}

