.header {

	&__title {
		width: 100vw;
		background-color: $color-main;
		display: flex;
		justify-content: center;
		padding: 7px 0 7px 0;
		&--logo {
			height: 110px;
			animation-name: logo;
			animation-duration: 5s;
			animation-iteration-count: 1;
			@keyframes logo {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}
	}
	&__subtitle {
		color: $color-main;
		font-size: 40px;
		text-transform: capitalize;
		font-style: oblique;
		padding: 10px 0 15px 0;
	}
}
