.header {
	width: 100vw;
	&__title {
		width: 100%;
		background-color: $color-main;
		display: flex;
		justify-content: center;
		padding: 9px 0 6px 0;
		&--logo {
			height: 80px;
			animation-name: logo;
			animation-duration: 5s;
			animation-iteration-count: 1;
			@keyframes logo {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}
	}
	&__subtitle {
		width: 100%;
/* 		background-color: $color-bg-2; */
		color: $color-main;
		font-size: 30px;
		text-transform: capitalize;
		font-style: oblique;
		text-align: center;
		padding: 10px 0 12px 0;
	}
}
