.main {

}

.addFav {
	background-color: $color-main;
}

.searchList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	&__searchItem {
    
		&--title {
      font-size: 25px;
		}
		&--img {
		}
	}
}
